<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button" style="margin-bottom: 20px;">
                        <div class="col-sm-2">
                            <div header="Danh mục" [style]="{width: '30vw'}">
                                <button pButton pRipple label="+ Thêm danh mục" icon="pi pi-plus" class="p-button-success mr-2 button-action-insert" *ngIf="!displayForm" (click)="showForm()"></button>
                                <form action="" *ngIf="displayForm">
                                    <div class="p-field">
                                        <label for="username">Tên danh mục: </label>
                                        <input type="text" pInputText class="w-full mt-2" [(ngModel)]="categoryForm.name" name="name">
                                    </div>
                                    <div class="p-field mt-3">
                                        <button type="submit" pButton (click)="createCategory()" *ngIf="!onUpdate" >Tạo mới</button>
                                        <button type="submit" pButton (click)="updateCategory()" *ngIf="onUpdate" >Cập nhật</button>
                                        <button pButton type="button" class="p-button-danger ml-3" (click)="displayForm = !displayForm">Hủy</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered table-data" id="sampleTable" style="box-shadow: 1px 1px 5px 1px rgb(188, 185, 185);">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Enable</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of listCategory">
                                <td>{{category.name}}</td>
                                <td>
                                    <button type="button" class="p-button-info button-action" (click)="enableCategory(category.id)" *ngIf="category.enable">Enabled</button>
                                    <button type="button" class="btn btn-danger" (click)="enableCategory(category.id)" *ngIf="!category.enable">Disabled</button>
                                </td>
                                <td>
                                    <button type="button" class="button-action-update p-button-rounded p-button-primary fa fa-pen" (click)="onUpdateForm(category.id,category.name)"></button>
                                    <button type="button" class="button-action-delete p-button-rounded p-button-danger ml-2 fas fa-trash" (click)="onDelete(category.id,category.name)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<div *ngIf="deleteForm" [style]="{width :'30vw'}">
    <div>
        <i class="pi pi pi-exclamation-triangle"></i>
        <span class="ml-2">Bạn có chắc xóa <span>{{categoryForm.name}}</span> ?</span>
    </div>
    <div class="flex justify-content-end mt-3">
        <p-button label="Yes" icon="pi pi-check" class="mr-2" (click)="deleteCategory()"></p-button>
        <p-button label="No" icon="pi pi-times" (click)="deleteForm=false"></p-button>
    </div>
</div>