
<section
  class="breadcrumb-section set-bg"
  data-setbg="assets/img/breadcrumb.jpg"
  style="background-image: url('assets/img/breadcrumb.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>My orders</h2>
          <div class="breadcrumb__option">
            <a href="javascript:void(0)" routerLink="/"
              >Home - Clothes Package</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="card">
    <div *ngFor="let order of listOrder">
        <div>
            <tr>
                <th>Customer <p-sortIcon field="name"></p-sortIcon></th>
                <th>Address <p-sortIcon field="address"></p-sortIcon></th>
                <th>Phone <p-sortIcon field="phone"></p-sortIcon></th>
                <th>Email <p-sortIcon field="email"></p-sortIcon></th>
                <th >Total <p-sortIcon field="price"></p-sortIcon></th>
                <th style="min-width:10rem">Status</th>
                <th></th>
            </tr>
        </div>
        <div>
            <tr>
                <td>{{order.firstName}} {{order.lastName}}</td>
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.email}}</td>
                <td>{{order.totalPrice}}</td>
                <td><button pButton type="button" label="Waiting For Delivery" class="p-button-success"></button></td>
            </tr>
        </div>
    </div>
</div> -->
<h5 class="m-0">Thông tin đơn hàng</h5>
<div class="card">
    <table class="table table-hover table-bordered" id="sampleTable">
        <thead>
          <tr>
            <th>Khách hàng</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Tổng tiền</th>
            <th>Tình trạng</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of listOrder">
                <td>{{order.firstName}} {{order.lastName}}</td>
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.email}}</td>
                <td style="color: red;">{{order.totalPrice | currency:'VND':'symbol':'1.0-0'}}</td>
                <td>
                    <button pButton type="button" label="Waiting For Delivery" class="btn btn-success"></button>
                    <button pButton type="button" label="Waiting For Delivery" class="btn btn-danger"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>