
<p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{'width': '100vw', 'height': '100vh', 'background-color':'rgba(255, 255, 255, 0.8)'}">
  <img src="http://localhost:8088/api/v1/image/{{indexImg}}" alt="Image" class="dialog-image" >
</p-dialog>
<!-- Breadcrumb Section Begin -->
<section
  class="breadcrumb-section set-bg"
  data-setbg="assets/img/breadcrumb.jpg"
  style="background-image: url('assets/img/breadcrumb.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Clothes Package</h2>
          <div class="breadcrumb__option">
            <a href="javascript:void(0)" routerLink="/"
              >Home - Clothes Package</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad" *ngIf="product != null">
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="product-img">
            <ul>
              <li *ngFor="let image of product.imageIds" style="display: inline;">
                  <img src="http://localhost:8088/api/v1/image/{{ image }}" alt=""  class="col-6" style="padding: 10px" (click)="showDialog(image)" />
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="product__details__text">
            <h3>{{ product.name }}</h3>
            <div class="product__details__price">{{ product.price | currency:'VND':'symbol':'1.0-0'}}</div>
            <div class="product__details__quantity">
              <div class="quantity">
                <span style="margin-right: 40px;">Size</span>
                <div class="pro-qty1">
                    <button [ngClass]="{'red-button': isClicked0}" (click)="selectSize(product.sizeIds[0])" *ngIf="product.sizeIds[0] == 1">S</button>
                    <button [ngClass]="{'red-button': isClicked1}" (click)="selectSize(product.sizeIds[1])" *ngIf="product.sizeIds[1] == 2">M</button>
                    <button [ngClass]="{'red-button': isClicked2}" (click)="selectSize(product.sizeIds[2])" *ngIf="product.sizeIds[2] == 3">L</button>
                    <button [ngClass]="{'red-button': isClicked3}" (click)="selectSize(product.sizeIds[3])" *ngIf="product.sizeIds[3] == 4">XL</button>
                    <button style="margin-right: 300px;" [ngClass]="{'red-button': isClicked4}" (click)="selectSize(product.sizeIds[0])" *ngIf="product.sizeIds[0] == 5">OverSize</button>
                </div>
              </div>
              <div class="quantity" style="margin-bottom: 10px;">
                <span>Số lượng</span>
                <div class="pro-qty">
                  <span class="dec qtybtn" (click)="Quantity()">-</span>
                  <input type="text" [(ngModel)]="quantity" />
                  <span class="inc qtybtn" (click)="plusQuantity()">+</span>
                </div>
                <br>
                <i style="color: gray;">Số lượng sản phẩm trong kho: {{this.quantityProduct}}</i>
              </div>
              <a
              href="javascript:void(0)"
              class="primary-btn"
              (click)="addCart(product)"
              >Thêm vào giỏ hàng</a>
            </div>
           
            <hr />
            <h4>Chi tiết sản phẩm</h4>
            <p [innerHTML]="transform(product.description)"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Sản phẩm cùng danh mục</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let product of listRelatedProduct"
      >
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            [ngStyle]="{
              'background-image':
                'url(http://localhost:8088/api/v1/image/' +
                product.imageIds[0] +
                ')'
            }"
          >
            <ul class="featured__item__pic__hover">
              <li>
                <a
                  href="javascript:void(0)"
                  (click)="addToWishList(product)"
                  class="fa fa-heart"
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  routerLink="/product/{{ product.id }}"
                  class="fa fa-retweet"
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  (click)="addToCart(product)"
                  class="fa fa-shopping-bag"
                ></a>
              </li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6>
              <a
                href="javascript:void(0)"
                routerLink="/product/{{ product.id }}"
                >{{ product.name }}</a
              >
            </h6>
            <h5>{{ product.price | currency:'VND':'symbol':'1.0-0'}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related Product Section End -->
