<!-- Section: Design Block -->
<section class="">
  <!-- Jumbotron -->
  <div
    class="px-4 py-5 px-md-5 text-center text-lg-start"
    style="background-color: hsl(0, 0%, 96%)"
  >
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best offer <br />
            <span class="text-primary">for your business</span>
          </h1>
          <p style="color: hsl(217, 10%, 50.8%)">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque?
          </p>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              <form #registerForm="ngForm">
                <!-- 2 column grid layout with text inputs for the first and last names -->

                <div class="form-outline mb-4">
                  <label class="form-label" for="username">User name</label>
                  <input type="text" id="user-name" 
                    [(ngModel)] = "userName" required
                    [ngModelOptions]="{standalone: true}"
                    (input)="onChange()"
                    (focus)="registerForm.form.markAllAsTouched()"
                  class="form-control" />
                  <div class="divider-nospace"></div>
                  <p class="text-danger" 
                  *ngIf="userName.length < 6 && registerForm.form.touched">*User name phải có ít nhất 6 ký tự </p>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email address</label>
                  <input type="email" id="email" 
                    [(ngModel)] = "email" required
                    [ngModelOptions]="{standalone: true}"
                    (focus)="registerForm.form.markAllAsTouched()"
                  class="form-control" />   
                  <div class="divider-nospace"></div>        
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input type="text" id="password"
                    [(ngModel)] = "password" required
                    [ngModelOptions]="{standalone: true}"
                    (focus)="registerForm.form.markAllAsTouched()"
                  class="form-control"/>
                  <div class="divider-nospace"></div>
                  <p class="text-danger" 
                  *ngIf="password.length < 4 && registerForm.form.touched">*Password phải có ít nhất 4 ký tự </p>
                </div>

                <!-- Submit button -->
                <button type="submit" 
                class="btn btn-primary btn-block mb-4" 
                (click)="register()">
                  Sign up
                </button>

                <!-- Register buttons -->
                <div class="text-center">
                  <p>or sign up with:</p>
                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-link btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<!-- Section: Design Block -->
