<!-- <section class="header-img">
  <div class="">
    <div class="justify-content-end">
      <div class="">
        <div
          class="hero__item set-bg right"
          style="background-image: url('assets/img/hero/banner.jpg')">
          <div class="hero__text">
            <h2>FASHION HAS TO <br />REFLECT WHO YOU ARE</h2>
            <p>WHAT YOU FEEL AT THE MOMENT WHERE YOU COME HERE?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
  <!-- <swiper-slide *ngFor="let product of listProductNewest">
    <img class="swiperImage" src='assets/img/hero/banner.jpg' height="800px" width="100%" alt="">
  </swiper-slide> -->
<swiper-container  navigation="true" pagination="true">
  <swiper-slide>
    <div
          class="hero__item set-bg right"
          style="background-image: url('assets/img/hero/banner.jpg')">
          <div class="hero__text">
            <h2>FASHION HAS TO <br />REFLECT WHO YOU ARE</h2>
            <p>WHAT YOU FEEL AT THE MOMENT WHERE YOU COME HERE?</p>
          </div>
        </div>
  </swiper-slide>
  <swiper-slide>
    <div
          class="hero__item set-bg right"
          style="background-image: url('assets/img/hero/banner1.jpg')">
        </div>
  </swiper-slide>
  <swiper-slide>
    <div
          class="hero__item set-bg right"
          style="background-image: url('assets/img/hero/banner2.jpg')">
        </div>
  </swiper-slide>
  <swiper-slide>
    <div
          class="hero__item set-bg right"
          style="background-image: url('assets/img/hero/banner3.jpg')">
        </div>
  </swiper-slide>
</swiper-container>



<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Thời trang mới nhất</h2>
        </div>
      </div>
    </div>
    <div class="row featured__filter">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of listProductNewest">
        <div class="featured__item">
          <div class="featured__item__pic set-bg" [ngStyle]="{'background-image':'url(http://localhost:8088/api/v1/image/' +product.imageIds[0] +')'}">
            <ul class="featured__item__pic__hover">
              <li>
                <a href="javascript:void(0)" (click)="addToWishList(product)" class="fa fa-heart"></a>
              </li>
              <li>
                <a href="javascript:void(0)" routerLink="/product/{{ product.id }}" class="fa fa-retweet"></a>
              </li>
              <li>
                <a href="javascript:void(0)"(click)="addToCart(product)" class="fa fa-shopping-bag"></a>
              </li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6>
              <a href="javascript:void(0)" class="text-uppercase"  routerLink="/product/{{product.id}}">{{ product.name }}</a>
            </h6>
            <h5>{{ product.price | currency:'VND':'symbol':'1.0-0'}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Section End -->

<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img
            src="assets/img/banner/banner-1.png"
            style="height: 350px"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="banner__pic">
          <img
            src="assets/img/banner/banner-2.png"
            style="height: 350px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>

<section class="featured spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>Thời trang cao cấp</h2>
        </div>
      </div>
    </div>
    <div class="row featured__filter">
      <div
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let product of listProductPrice"
      >
        <div class="featured__item">
          <div
            class="featured__item__pic set-bg"
            [ngStyle]="{
              'background-image':
                'url(http://localhost:8088/api/v1/image/' +
                product.imageIds[0] +
                ')'
            }"
          >
            <ul class="featured__item__pic__hover">
              <li>
                <a
                  href="javascript:void(0)"
                  (click)="addToWishList(product)"
                  class="fa fa-heart"
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  routerLink="/product/{{ product.id }}"
                  class="fa fa-retweet"
                ></a>
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  (click)="addToCart(product)"
                  class="fa fa-shopping-bag"
                ></a>
              </li>
            </ul>
          </div>
          <div class="featured__item__text">
            <h6>
              <a href="javascript:void(0)" class="text-uppercase"  routerLink="/product/{{product.id}}">{{ product.name }}</a>
            </h6>
            <h5>{{ product.price | currency:'VND':'symbol':'1.0-0'}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog Section Begin -->
<section class="related-blog spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-title related-blog-title">
                  <h2>Post You May Like</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let blog of listBlogNewest">
              <div class="blog__item">
                  <div class="blog__item__pic">
                      <img src="http://localhost:8088/api/v1/image/+ {{blog.imageId}}" alt="">
                  </div>
                  <div class="blog__item__text">
                      <ul>
                          <li><i class="fa fa-calendar-o"></i> {{blog.createAt | date:'dd/MM/yyyy' }}</li>
                      </ul>
                      <h5><a href="javascript:void(0)" routerLink="/blog/{{blog.id}}">{{blog.title}}</a></h5>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Blog Section End -->
