.revenue-order {
    display: flex;
    margin-bottom: 50px;
}
.revenue-box{
    display: inline-block;
    width: 16%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(164, 164, 164);
    margin: 0 auto;
}

.revenue-box a{
    padding: 10px 15px;
    background-color: rgb(180, 237, 90);
    color: rgb(19, 173, 6);
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.revenue-box h4{
    color: rgb(150, 6, 6);
    font-weight: 600;
    font-size: 20px;
}

.revenue-box p{
    color: #000;
    font-weight: 500;
}

.revenue-box .revenue-item{
    background-color: rgb(136, 183, 214);
    color: rgb(64, 68, 195);
}

.revenue-box p{
    font-size: 18px;
}

.filter-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.filter-container label {
    margin-right: 10px;
}

.filter-container input {
    margin-right: 10px;
}

.filter-container button {
    padding: 5px 10px; 
    border: none; 
    background-color: #b81f1f; 
    color: #fff; 
    cursor: pointer; 
    border-radius: 5px;
}

.filter-container button:hover {
    background-color: #de3737; 
}