<!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" style="background-image: url('assets/img/breadcrumb.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Danh mục </h2>
                        <div class="breadcrumb__option">
                            <a href="javascript:void(0)" routerLink="/">Home - Clothes Package</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a href="javascript:void(0)" routerLink="/category/{{category.id}}" *ngFor="let category of listCategory">{{category.name}}</a></li>
                            </ul>
                        </div>
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider">
                                    <div class="latest-prdouct__slider__item">
                                        <a href="#" class="latest-product__item" *ngFor="let product of listProductNewest">
                                            <div class="latest-product__item__pic">
                                                <img src="http://localhost:8088/api/v1/image/+ {{product.imageIds[0]}}" alt="">
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6 class="text-uppercase">{{product.name}}</h6>
                                                <span>{{product.price | currency:'VND':'symbol':'1.0-0'}}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                  <fieldset class="sort-bar">
                    <div>Sắp xếp theo:</div>
                    <div class="sort-by-options">
                      <section>
                        <button [ngClass]="{'red-button': isClicked0}" (click)="sortByIdHight()">Liên quan</button>
                        <button style="width: 80px;" [ngClass]="{'red-button': isClicked1}" (click)="sortById()">Mới nhất</button>
                        <button [ngClass]="{'red-button': isClicked2}" (click)="sortByPrice()">Giá: Cao đến Thấp</button>
                        <button [ngClass]="{'red-button': isClicked3}" (click)="sortByPriceHight()">Giá: Thấp đến Cao</button>
                      </section>
                    </div>
                  </fieldset>
                    <div class="row shop-grid-item">
                        <div class="col-lg-3 col-md-4 col-sm-8" *ngFor="let product of listProduct">
                            <div class="featured__item">
                              <div class="featured__item__pic set-bg" [ngStyle]="{'background-image':'url(http://localhost:8088/api/v1/image/' + getMinImageId(product.images) +')'}">
                                <ul class="featured__item__pic__hover">
                                  <li>
                                    <a href="javascript:void(0)" (click)="addToWishList(product)" class="fa fa-heart"></a>
                                  </li>
                                  <li>
                                    <a href="javascript:void(0)" routerLink="/product/{{ product.id }}" class="fa fa-retweet"></a>
                                  </li>
                                  <li>
                                    <a href="javascript:void(0)"(click)="addToCart(product)" class="fa fa-shopping-bag"></a>
                                  </li>
                                </ul>
                              </div>
                              <div class="featured__item__text">
                                <h6>
                                  <a href="javascript:void(0)" class="text-uppercase"  routerLink="/product/{{product.id}}">{{ product.name }}</a>
                                </h6>
                                <h5>{{ product.price | currency:'VND':'symbol':'1.0-0'}}</h5>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" *ngIf="currentPage > 1">
              <a class="page-link" href="javascript:void(0)" (click)="onPageChange(1)">First</a>
            </li>
            <li class="page-item" *ngIf="currentPage > 1">
              <a class="page-link" href="javascript:void(0)" (click)="onPageChange(currentPage - 1)"
                >Previous</a
              >
            </li>
            <ng-container *ngFor="let page of visiblePages">
              <li class="page-item" [ngClass]="{'active': page - 1 === currentPage}">
                <a class="page-link" href="javascript:void(0)" (click)="onPageChange(page - 1)">{{
                  page
                }}</a>
              </li>
            </ng-container>
            <li class="page-item" *ngIf="currentPage < totalPages">
              <a class="page-link" href="javascript:void(0)" (click)="onPageChange(currentPage + 1)"
                >Next</a
              >
            </li>
            <li class="page-item" *ngIf="currentPage < totalPages">
              <a class="page-link" href="javascript:void(0)" (click)="onPageChange(totalPages - 1)">Last</a>
            </li>
          </ul>
        </nav>
      </div>
