<div id="wrapper">
  <!-- Sidebar -->
  <ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
  >
    <!-- Sidebar - Brand -->
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      routerLink="/admin"
    >
      <div class="sidebar-brand-icon rotate-n-15">
        <fa-icon [icon]="faceLaugh"></fa-icon>
      </div>
      <div class="sidebar-brand-text mx-3">Men Shop Admin</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0" />
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="/admin">
        <fa-icon [icon]="tachometer"></fa-icon>
        <span>Dashboard</span></a
      >
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider" />
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/banner"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý banner</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/category"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý danh mục</span>
      </a>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/product"
        data-toggle="collapse"
        data-target="#collapseUtilities"
        aria-expanded="true"
        aria-controls="collapseUtilities"
      >
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý sản phẩm</span>
      </a>
    </li>
    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/order"
        data-toggle="collapse"
        data-target="#collapsePages"
        aria-expanded="true"
        aria-controls="collapsePages"
      >
      <fa-icon [icon]="bookmark"></fa-icon>
        <span>Danh sách order</span>
      </a>
    </li>
    <!-- Nav Item - Charts -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/tag">
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý tag</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/blog">
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý blog</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/warehouse">
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý tồn kho</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/revenue">
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý doanh thu</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/employeeMn">
        <fa-icon [icon]="bookmark"></fa-icon>
        <span>Quản lý nhân viên</span></a
      >
    </li>
    <hr class="sidebar-divider d-none d-md-block" />
  </ul>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav
        class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
      >
        <!-- Sidebar Toggle (Topbar) -->
        <button
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <fa-icon [icon]="bars"></fa-icon>
        </button>
        <!-- Topbar Search -->
        <form
          class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control bg-light border-0 small"
              placeholder="Search for..."
              aria-label="Search"
              aria-describedby="basic-addon2"
            />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <!-- <fa-icon [icon]="search"></fa-icon> -->
                <i href="" class="fa fa-search" style="color: #fff"></i>
              </button>
            </div>
          </div>
        </form>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a
              class="nav-link dropdown-toggle"
              id="searchDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <fa-icon [icon]="search"></fa-icon>
            </a>
            <!-- Dropdown - Messages -->
            <div
              class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown"
            >
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control bg-light border-0 small"
                    placeholder="Search for..."
                    aria-label="Search"
                    aria-describedby="basic-addon2"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>
          <div class="topbar-divider d-none d-sm-block"></div>
          <!-- Nav Item - User Information -->
          <li class="nav-item dropdown no-arrow" style="margin-right: 5px;">
            <button (click)="logout()"  class="nav-link" style="color: #000;">
              <fa-icon [icon]="logoutIcon"></fa-icon>
             Logout
            </button>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
